.breach {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #efefef;
}

.breach .frame {
    position: relative;
    width: 1200px;
    height: 74px;
}

.breach .group-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 946px;
}

.breach .group {
    position: relative;
    width: 2789px;
    height: 1391px;
    left: -39px;
}

.breach .overlap-group-wrapper {
    height: 1391px;
}

.breach .overlap-group {
    position: relative;
    width: 2155px;
    height: 1022px;
    left: 39px;
}

.breach .rectangle {
    position: absolute;
    width: 1319px;
    height: 1022px;
    top: 0;
    left: 836px;
    background-color: #000000;
    mix-blend-mode: soft-light;
    opacity: 0.35;
}

.breach .div {
    position: absolute;
    width: 1319px;
    height: 1022px;
    top: 0;
    left: 836px;
    background-color: #000000;
    opacity: 0.25;
}

.breach .vector {
    position: absolute;
    width: 1200px;
    height: 646px;
    top: 300px;
    left: 0;
}

.breach .img {
    position: absolute;
    width: 1200px;
    height: 951px;
    top: 69px;
    left: 0;
}

.breach .frame-2 {
    position: absolute;
    width: 1200px;
    height: 946px;
    top: 74px;
    left: 0;
}

.breach .frame-3 {
    position: absolute;
    width: 851px;
    height: 168px;
    top: 806px;
    left: 234px;
}

.breach .rectangle-2 {
    position: absolute;
    width: 83px;
    height: 78px;
    top: 90px;
    left: 568px;
}

.breach .rectangle-3 {
    position: absolute;
    width: 83px;
    height: 78px;
    top: 90px;
    left: 466px;
}

.breach .rectangle-4 {
    position: absolute;
    width: 83px;
    height: 78px;
    top: 90px;
    left: 364px;
}

.breach .rectangle-5 {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 81px;
    left: 14px;
}

.breach .rectangle-6 {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 81px;
    left: 116px;
}

.breach .rectangle-7 {
    position: absolute;
    width: 138px;
    height: 158px;
    top: 9px;
    left: 218px;
}

.breach .frame-4 {
    position: absolute;
    width: 263px;
    height: 71px;
    top: 165px;
    left: 550px;
    overflow: hidden;
}

.breach .RAZE {
    position: absolute;
    width: 288px;
    height: 42px;
    top: 315px;
    left: -348px;
}

.breach .SKYE {
    position: absolute;
    width: 288px;
    height: 42px;
    top: 236px;
    left: -348px;
}

.breach .OMEN {
    position: absolute;
    width: 288px;
    height: 42px;
    top: 157px;
    left: -348px;
}

.breach .BREACH {
    position: absolute;
    width: 244px;
    height: 56px;
    top: 12px;
    left: 0;
}

.breach .frame-5 {
    position: absolute;
    width: 153px;
    height: 50px;
    top: 111px;
    left: 560px;
    overflow: hidden;
}

.breach .text-wrapper {
    position: absolute;
    width: 168px;
    top: -1px;
    left: 0;
    font-family: "League Gothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.breach .p {
    position: absolute;
    width: 168px;
    top: 42px;
    left: 0;
    font-family: "League Gothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.breach .text-wrapper-2 {
    position: absolute;
    width: 168px;
    top: 128px;
    left: 0;
    font-family: "League Gothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.breach .text-wrapper-3 {
    position: absolute;
    width: 168px;
    top: 85px;
    left: 0;
    font-family: "League Gothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.breach .rectangle-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 0px 8px;
    position: absolute;
    top: 93px;
    left: 118px;
}

.breach .rectangle-8 {
    position: relative;
    width: 301px;
    height: 625px;
    object-fit: cover;
}

.breach .line-wrapper {
    position: absolute;
    width: 1px;
    height: 634px;
    top: 111px;
    left: 525px;
}

.breach .line {
    position: absolute;
    width: 5px;
    height: 634px;
    top: 0;
    left: 0;
}

.breach .breach-es-un-agente {
    position: absolute;
    width: 551px;
    height: 330px;
    top: 423px;
    left: 550px;
}

.breach .text-wrapper-4 {
    position: absolute;
    width: 551px;
    top: -1px;
    left: 0;
    font-family: "Overpass Mono-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

.breach .nav {
    display: flex;
    width: 1200px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #efefef;
}

.breach .logo {
    display: flex;
    width: 163px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.breach .graphic-logo {
    display: flex;
    width: 162px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.breach .square {
    position: relative;
    width: 32px;
    height: 24px;
    background-image: url(./img/square.png);
    background-size: cover;
    background-position: 50% 50%;
}

.breach .button-VW {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-right: -8.00px;
}

.breach .text {
    position: relative;
    flex: 1;
    height: 25px;
    margin-top: -1.00px;
    font-family: "Overpass Mono-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.breach .items {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.breach .button-actu {
    display: flex;
    width: 108px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.breach .text-wrapper-5 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Overpass Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: normal;
}

.breach .botton-otro {
    display: flex;
    width: 42px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.breach .button-personal {
    display: flex;
    width: 67px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
